@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .sm-my-1 {
    margin: 1rem 0;
  }

  .container {
    margin-top: 8rem;
  }

  //Texts

  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }

  // Navbar
  .navbar {
    display: block;
    text-align: center;

    ul {
      text-align: center;
      justify-content: center;
    }

    h1 {
      margin-bottom: 1rem;
    }

    .navbarSearch {
      width: 100%;
      margin: 0.5rem 0;
    }
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  // Developer
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;

    img {
      width: 50%;
    }
  } 

  // Profile 
  .profile-grid {
    grid-template-areas: 'top' 'about' 'exp' 'edu' 'github';
  }

  .profile-about {
    .skills {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  // Project
  .project {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 1rem;

    .project-header {
      align-items: center;
    }

    .project-links,
    .project-tags {
      align-items: center;
      justify-content: center;
    }

    a, button {
      padding: 0.3rem 0.4rem;
    }
  }
}