// small tag for * required fields
small {
  color: $dark-color;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
}

// Containers
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.main_container {
  margin: auto 3rem;
  overflow: hidden;
  padding: 0 3rem;
  margin-bottom: 2rem;

  @media (max-width: 700px) {
    margin: auto 2rem;
    padding: 0 2rem;
  }
}

// Texts
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));;
}

.text-primary {
  color: $primary-color;
}

.text-gradient {
  background: linear-gradient(157.81deg,
        #DEF9FA -43.27%,
        #BEF3F5 -21.24%,
        #9DEDF0 12.19%,
        #7DE7EB 29.82%,
        #5CE1E6 51.94%,
        #33BBCF 90.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient2 {
  background: #085078;
  background: -webkit-linear-gradient(to right, #085078, #85d8ce);
  background: linear-gradient(to right, #085078, #85d8ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }

  &-dark {
    @include set-background($dark-color);
  }

  &-light {
    @include set-background($light-color);
    border: 1px solid #ccc;
  }

  &-danger {
    @include set-background($danger-color);
  }

  &-success {
    @include set-background($success-color);
  }

  &-white {
    @include set-background(#fff);
    border: 1px solid #ccc;
  }

  &-gray {
    @include set-background($gray-color);
  }

  &-zinc {
    @include set-background($zinc-color);
  }

  &-header {
    background-image: linear-gradient(#ddf4ff, #ddf4ff);
  }
}

.border {
  &-primary {
    border: 1px solid $primary-color;
  }

  &-dark {
    border: 1px solid $dark-color;
  }

  &-light {
    border: 1px solid $light-color;
  }

  &-danger {
    border: 1px solid $danger-color;
  }

  &-success {
    border: 1px solid $success-color;
  }

  &-white {
    border: 1px solid #fff;
  }

  &-gray {
    border: 1px solid $gray-color;
  }

  &-zinc {
    border: 1px solid $zinc-color;
  }

  &-header {
    border: 1px solid #ddf4ff;
  }

  &-muted {
    border-bottom: 1px solid rgba(84,174,255,0.4);
  }

  &-none {
    border: none;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background-color: lighten($primary-color, 5%);
    }
  }

  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background-color: lighten($dark-color, 5%);
    }
  }

  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background-color: lighten($success-color, 5%);
    }
  }

  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background-color: lighten($danger-color, 5%);
    }
  }

  &.btn-accent-gradient {
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    color: #00040E;
    font-weight: 600;
  }

  &.btn-violet-gradient {
    background: linear-gradient(180deg, rgba(183, 52, 179, 0.15) 0%, rgba(164, 46, 156, 0) 100%), #6e40c9 !important;
    color: #fff;
  }

  &:hover {
    background-color: lighten($dark-color, 20%);
    color: #fff;
  }
}

// Alert

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: $light-color;
  color: #333;

  &.alert-primary {
    @include set-background($primary-color);
  }
  &.alert-dark {
    @include set-background($dark-color);
  }
  &.alert-success {
    @include set-background($success-color);
  }
  &.alert-danger {
    @include set-background($danger-color);
  }
}

// Badges
.badge {
  font-size: 0.7rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $light-color;
  color: #333;

  &.badge-primary {
    @include set-background($primary-color);
  }

  &.badge-dark {
    @include set-background($dark-color);
  }

  &.badge-success {
    @include set-background($success-color);
  }
  &.badge-danger {
    @include set-background($danger-color);
  }

  &.badge-gray {
    @include set-background($gray-color);
    color: #fff;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.table {
  th, td {
    padding: 1rem;
    text-align: left;
  }

  th {
    background: $light-color;
  }
}
