@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem;
}

small {
  color: #343a40;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.main_container {
  margin: auto 3rem;
  overflow: hidden;
  padding: 0 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 700px) {
  .main_container {
    margin: auto 2rem;
    padding: 0 2rem;
  }
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}

.text-primary {
  color: #17a2b8;
}

.text-gradient {
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient2 {
  background: #085078;
  background: linear-gradient(to right, #085078, #85d8ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-primary {
  background-color: #17a2b8;
  color: #fff;
}
.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ccc;
}
.bg-danger {
  background-color: #dc3545;
  color: #fff;
}
.bg-success {
  background-color: #28a745;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}
.bg-gray {
  background-color: #85D8CE;
  color: #333;
}
.bg-zinc {
  background-color: #E9E4F0;
  color: #333;
}
.bg-header {
  background-image: linear-gradient(#ddf4ff, #ddf4ff);
}

.border-primary {
  border: 1px solid #17a2b8;
}
.border-dark {
  border: 1px solid #343a40;
}
.border-light {
  border: 1px solid #f4f4f4;
}
.border-danger {
  border: 1px solid #dc3545;
}
.border-success {
  border: 1px solid #28a745;
}
.border-white {
  border: 1px solid #fff;
}
.border-gray {
  border: 1px solid #85D8CE;
}
.border-zinc {
  border: 1px solid #E9E4F0;
}
.border-header {
  border: 1px solid #ddf4ff;
}
.border-muted {
  border-bottom: 1px solid rgba(84, 174, 255, 0.4);
}
.border-none {
  border: none;
}

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  background-color: #17a2b8;
  color: #fff;
}
.btn.btn-primary:hover {
  background-color: #1ab6cf;
}
.btn.btn-dark {
  background-color: #343a40;
  color: #fff;
}
.btn.btn-dark:hover {
  background-color: #3f474e;
}
.btn.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn.btn-success:hover {
  background-color: #2dbc4e;
}
.btn.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.btn.btn-danger:hover {
  background-color: #e04b59;
}
.btn.btn-accent-gradient {
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  color: #00040E;
  font-weight: 600;
}
.btn.btn-violet-gradient {
  background: linear-gradient(180deg, rgba(183, 52, 179, 0.15) 0%, rgba(164, 46, 156, 0) 100%), #6e40c9 !important;
  color: #fff;
}
.btn:hover {
  background-color: #626d78;
  color: #fff;
}

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}
.alert.alert-primary {
  background-color: #17a2b8;
  color: #fff;
}
.alert.alert-dark {
  background-color: #343a40;
  color: #fff;
}
.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}
.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}

.badge {
  font-size: 0.7rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
}
.badge.badge-primary {
  background-color: #17a2b8;
  color: #fff;
}
.badge.badge-dark {
  background-color: #343a40;
  color: #fff;
}
.badge.badge-success {
  background-color: #28a745;
  color: #fff;
}
.badge.badge-danger {
  background-color: #dc3545;
  color: #fff;
}
.badge.badge-gray {
  background-color: #85D8CE;
  color: #333;
  color: #fff;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.table th, .table td {
  padding: 1rem;
  text-align: left;
}
.table th {
  background: #f4f4f4;
}

.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form input[type=text],
.form input[type=email],
.form input[type=password],
.form input[type=date],
.form input[type=file],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form input[type=submit] {
  font: inherit;
}
.form .social-input {
  display: flex;
}
.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}
.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.search_form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.search_form-group {
  margin: 1.2rem 0;
}
.search_form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.search_form input[type=text] {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}
.search_form input[type=submit] {
  font: inherit;
  padding: 0.8rem;
}

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: #17a2b8;
}

.landing {
  position: relative;
  background-color: #00040f;
  height: 80vh;
}
.landing-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  text-align: center;
}

.lower-section {
  padding-left: 1.5rem;
  background-color: #00040f;
  width: 100%;
}
@media (max-width: 1700px) {
  .lower-section {
    max-width: 1280px;
  }
}

.landing-showcase {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .landing-showcase {
    padding: 4rem 0;
  }
}
.landing-showcase .blue-gradient {
  position: absolute;
  right: -50%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}
.landing-showcase .break {
  display: none;
}
@media (max-width: 768px) {
  .landing-showcase .break {
    display: block;
  }
}
.landing-showcase .showcase-paragraphs {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 1060px) {
  .landing-showcase .showcase-paragraphs {
    flex-direction: column;
    padding: 2.5rem;
  }
}
@media (max-width: 768px) {
  .landing-showcase .showcase-paragraphs {
    margin-bottom: 4rem;
  }
}
.landing-showcase .showcase-paragraphs .heading2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #fff;
}
.landing-showcase .showcase-paragraphs .desc .paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  max-width: 450px;
}
@media (max-width: 768px) {
  .landing-showcase .showcase-paragraphs .desc {
    margin-top: 0;
  }
}
.landing-showcase .showcase-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.landing-showcase .showcase-cards .showcase-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.8rem 2.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-right: 0;
  border-radius: 20px;
  max-width: 370px;
  cursor: pointer;
}
.landing-showcase .showcase-cards .showcase-card:hover {
  background: var(--black-gradient);
}
.landing-showcase .showcase-cards .showcase-card .quotes {
  width: 42px;
  height: 27px;
  -o-object-fit: contain;
     object-fit: contain;
}
.landing-showcase .showcase-cards .showcase-card .feedback-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.landing-showcase .showcase-cards .showcase-card .card-content {
  display: flex;
  flex-direction: row;
}
.landing-showcase .showcase-cards .showcase-card .card-content .feedback-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #17a2b8;
}
.landing-showcase .showcase-cards .showcase-card .card-content .card-content-text {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.landing-showcase .showcase-cards .showcase-card .card-content .card-content-text .feedback-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}
.landing-showcase .showcase-cards .showcase-card .card-content .card-content-text .feedback-position {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  .landing-showcase .showcase-cards .showcase-card {
    margin-right: 1.25rem;
  }
}
@media (max-width: 1060px) {
  .landing-showcase .showcase-cards .showcase-card {
    margin-right: 2.25rem;
  }
}
@media (max-width: 768px) {
  .landing-showcase .showcase-cards {
    justify-content: flex-start;
  }
}

.home {
  max-width: 100vw;
  margin-top: 3.9rem;
}

.hero {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-showcase {
  text-transform: uppercase;
}

.profiles-grid {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}
@media (max-width: 700px) {
  .profiles-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.profiles-grid .profile-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.profiles-grid .profile-card__top {
  display: grid;
  grid-template-columns: 3fr 3fr;
}
.profiles-grid .profile-card__top img {
  max-width: 60%;
  border-radius: 4%;
  border: 2px solid rgba(84, 174, 255, 0.4);
}
@media (max-width: 1200px) {
  .profiles-grid .profile-card__top img {
    width: 200px;
  }
}
.profiles-grid .profile-card .profile-desc {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
}
@media (max-width: 1200px) {
  .profiles-grid .profile-card .profile-desc {
    display: none;
  }
}
.profiles-grid .profile-card ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .profiles-grid .profile-card ul {
    display: none;
  }
}
.profiles-grid .profile-card ul li {
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.projects-grid {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem;
}
@media (max-width: 1400px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.projects-grid .project-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.projects-grid .project-card img {
  border-radius: 2%;
}
.projects-grid .project-card .project-title {
  font-size: 1.3rem;
  font-weight: 600;
}
.projects-grid .project-card .project-owner {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #17a2b8;
  font-style: italic;
}
.projects-grid .project-card .project-owner img {
  max-width: 40px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.projects-grid .project-card .project-feedback {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #83868a;
}
.projects-grid .project-card .project-feedback .project-ratio {
  color: #343a40;
}
.projects-grid .project-card ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1rem;
}
.projects-grid .project-card ul li {
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  border-radius: 0.5rem;
}
.project > div:first-child {
  text-align: center;
}
.project .project-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: #343a40;
}
.project img {
  width: 90px;
  height: 90px;
  border: 2px solid #17a2b8;
}
.project .project-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}
.project .project-header .project-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.project .project-header .project-date {
  font-size: 0.9rem;
  font-weight: 400;
  color: #83868a;
}
.project .project-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.project .project-links a {
  color: #17a2b8;
  font-size: 1.2rem;
  font-weight: 600;
}
.project .project-tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.project .project-tags li {
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.reviews {
  display: flex;
  flex-direction: column;
}
.reviews .review {
  max-width: 100%;
  display: flex;
  justify-content: center;
  border: none;
}
.reviews .review .turn-icon {
  color: #83868a;
}
.reviews .review .review-body {
  margin-top: 0.5rem;
  margin-left: 0;
}
.reviews .review .review-body .review-owner {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.reviews .review .review-body .review-owner img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #17a2b8;
}
.reviews .review .review-body .review-comment {
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  text-align: justify;
  margin-left: 1.9rem;
}

.profile-grid {
  display: grid;
  grid-template-areas: "top top" "about about" "exp edu" "github github";
  grid-gap: 1rem;
}
.profile-grid .profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
}
.profile-grid .profile-top img {
  width: 200px;
  height: 200px;
  border: 2px solid #f4f4f4;
}
.profile-grid .profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}
.profile-grid .profile-top .icons a:hover {
  color: #343a40;
}
.profile-grid .profile-about {
  grid-area: about;
  text-align: center;
}
.profile-grid .profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-grid .profile-exp {
  grid-area: exp;
}
.profile-grid .profile-edu {
  grid-area: edu;
}
.profile-grid .profile-exp > div,
.profile-grid .profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
}
.profile-grid .profile-exp > div:last-child,
.profile-grid .profile-edu > div:last-child {
  border: none;
}
.profile-grid .profile-exp p,
.profile-grid .profile-edu p {
  margin: 0.5rem 0;
}
.profile-grid .profile-projects {
  grid-area: github;
}
.profile-grid .profile-projects .repo {
  display: flex;
}
.profile-grid .profile-projects .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}
.profile-grid .profile-projects .repo > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

.post-form-header {
  padding: 0.5rem;
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .sm-my-1 {
    margin: 1rem 0;
  }
  .container {
    margin-top: 8rem;
  }
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .navbar {
    display: block;
    text-align: center;
  }
  .navbar ul {
    text-align: center;
    justify-content: center;
  }
  .navbar h1 {
    margin-bottom: 1rem;
  }
  .navbar .navbarSearch {
    width: 100%;
    margin: 0.5rem 0;
  }
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  .profile img {
    width: 50%;
  }
  .profile-grid {
    grid-template-areas: "top" "about" "exp" "edu" "github";
  }
  .profile-about .skills {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 1rem;
  }
  .project .project-header {
    align-items: center;
  }
  .project .project-links,
  .project .project-tags {
    align-items: center;
    justify-content: center;
  }
  .project a, .project button {
    padding: 0.3rem 0.4rem;
  }
}