{% extends 'base.html' %}
{% block content %}
<style>
    .hero-image {
      background-image: url("file_attente.png"); /* The image used */
      background-color: #cccccc; /* Used if the image is unavailable */
      height: 500px; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
  </style>

<div  class="justify-content-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 offset-0" style="margin-top: 5em;" >
        <div class="card">
          <div class="card-body">
            <div class="text-center m-4">
                <h2>

                    <i class="fas fa-code"></i>
                    DevConnector
                </h2>
                <p class="lead">
                    <!-- User account icon -->
                    <i class="fas fa-user text-primary"></i>
                    Create Your Account
                  </p>
            </div>
            <form method="POST" action="#">

                {{ forms.as_p }}
                {% csrf_token %}
                <button class="btn btn-success btn-lg form-control">register</button>
            </form>
            <p class="my-1 text-center">
                Already have an account?
                <!-- Link to login -->
                <a href="{% url 'authentication' %}">Sign In</a>
              </p>
</div>
</div>
      </div>
    </div>
</div>
</div>
{% endblock%}