{% extends 'base.html' %}
{% block content %}
    <section class="container">
      <p class="lead">
        <!-- user icon -->
        <i class="fas fa-code-branch text-primary"></i>
        Add any developer/programming position that you have had in the past
      </p>
      <small>* = required field</small>
      <form class="form">
        <div class="form-group">
          <input type="text" placeholder="* Job Title" name="title" required />
        </div>
        <div class="form-group">
          <input type="text" placeholder="* Company" name="company" required />
        </div>
        <div class="form-group">
          <input type="text" placeholder="Location" name="location" />
        </div>
        <div class="form-group">
          <h4>From Date</h4>
          <input type="date" name="from" />
        </div>
        <div class="form-group">
          <h4>To Date</h4>
          <input type="date" name="to" />
        </div>
        <div class="form-group">
          <p><input type="checkbox" name="current" value="" /> Current Job</p>
        </div>
        <div class="form-group">
          <textarea
            name="description"
            cols="30"
            rows="5"
            placeholder="Job Description"
          ></textarea>
        </div>
        <input type="submit" class="btn btn-primary my-1" />
        <!-- go back to dashboard -->
        <a class="btn my-1" href="#">Go Back</a>
      </form>
    </section>
{% endblock %}
