{% extends 'base.html' %}


{% block content %}


<section class="container">
    <p class="lead">
      <!-- user icon -->
      <i class="fas fa-user text-primary"></i>
      Welcome <a href="{% url 'user-profile' profile.id %}?next=/dashboard">{{ profile.name }}</a>
    </p>
    <!-- Link buttons -->
    <div class="dash-buttons">
      <a href="{% url 'edit-profile' %}" class="btn my-1">
        <i class="bi bi-person"></i>
        Edit Profile</a
      >
      <a href="{% url 'add-experience' %}" class="btn my-1">
        <i class="bi bi-rocket-takeoff"></i>
        Add Experience</a
      >
      <a href="{% url 'add-education' %}" class="btn my-1">
        <i class="bi bi-award"></i>
        Add Education</a
      >

      <a href="{% url 'create-project' %}" class="btn my-1">
        <i class="bi bi-layers"></i>
        Add Project</a
      >
      <a href="{% url 'create-skill' %}" class="btn my-1">
        <i class="bi bi-stars"></i>
        Add Skill</a
      >
    </div>
    <h2 class="my-2">Experience Credentials</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Company</th>
          <th class="hide-sm">Title</th>
          <th class="hide-sm">Years</th>
      </thead>
      <tbody>
        {% for experience in userExperiences %}
            <tr>
            <td><a href="{% url 'update-experience' experience.id %}">{{experience.company}}</a></td>
            <td class="hide-sm">{{experience.title}}</td>
            <td class="hide-sm">
                {{experience.from_date|date:"M Y"}} -
                {% if experience.to_date %}
                    {{experience.to_date|date:"M Y"}}
                {% else %}
                    <span class="text-primary">Active</span>
                {% endif %}
            </td>
            </tr>
        {% endfor %}

      </tbody>
    </table>
    <h2 class="my-2">Education Credentials</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Institution</th>
          <th class="hide-sm">Degree</th>
          <th class="hide-sm">Years</th>
        </tr>
      </thead>
      <tbody>
        {% for education in userEducations %}
            <tr>
                <td><a href="{% url 'update-education' education.id %}">{{education.school}}</a></td>
                <td class="hide-sm" style="text-transform: capitalize;">{{education.degree}}</td>
                <td class="hide-sm">
                    {{education.from_date|date:"M Y"}} -
                    {% if education.to_date %}
                        {{education.to_date|date:"M Y"}}
                    {% else %}
                        <span class="text-primary">Active</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2 class="my-2">Projects Created</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th class="hide-sm">Votes</th>
          <th class="hide-sm">Ratio</th>
          <th class="hide-sm">Created</th>
        </tr>
      </thead>
      <tbody>
        {% for project in userProjects %}
            <tr>
                <td><a href="{% url 'project' project.id %}?next=/dashboard">{{project.title}}</a></td>
                <td class="hide-sm">{{project.votes_count}}</td>
                <td class="hide-sm">{{project.votes_ratio}}%</td>
                <td class="hide-sm">{{project.created_at|date:"M Y"}}</td>
                <td>
                    <a href="{% url 'delete-project' project.id %}?next=/dashboard" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a href="{% url 'update-project' project.id %}" class="btn btn-primary"><i class="bi bi-vector-pen"></i></a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2 class="my-2">Skills Credentials</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Skill</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in userSkills %}
                <tr>
                    <td><a href="{% url 'update-skill' skill.id %}">{{skill.name}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="my-5">
        <h2 class="my-1" style="color: #5f6368;">My Account</h2>
        <div class="dash-buttons">
            <a href="{% url 'logout' %}" class="btn my-1">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
            <a class="btn btn-danger my-1">
                <i class="fas fa-user-minus"></i>
                Delete My Account
            </a>
        </div>
    </div>
  </section>

{% endblock %}