{% extends 'base.html' %}

{% block content %}
{% if page == 'register' %}
<div class="container">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
</div>
{% else %}
<div class="container">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
</div>
{% endif %}

{% endblock %}