{% include 'base.html' %}

{% block content %}
    <div class="mx-auto sm:max-w-4xl font-sans2 py-5 mb-4">
    <div
    class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
  >
    <h5
      class="mb-3 text-xl font-semibold text-gray-900 md:text-xl dark:text-white"
    >
      New Messages({{ unread_count }})
    </h5>
    <ul class="my-4 space-y-3">
       {% for userMassage in messagesRequest %}
      <li>
      {% if userMassage.is_seen == False %}
        <a
          href="#"
          class="flex items-center p-3 text-sm font-normal text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
        >
    {% else %}
          <a
          href="#"
          class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
        >
      {% endif %}
            <span class="flex-1 ml-3 whitespace-nowrap">{{ userMassage.sender_name }}</span>
            <span class="flex-1 ml-3 whitespace-nowrap">{{ userMassage.subject }}</span>
            <span>{{ userMassage.created_at|timesince }} ago</span>
        </a>
      </li>
       {% endfor %}
    </ul>
  </div>
  </div>
{% endblock %}