{% extends 'base.html' %}


{% block content %}
    <section class="font-sans">
      <div
        class="flex flex-col align-middle justify-center py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
      >
        <h1
          class="mb-4 text-xl font-extrabold tracking-tight leading-none text-gray-900 md:text-2xl lg:text-3xl dark:text-white"
        >
          <i class="bi bi-globe"></i> Browse and connect with developers around the
          world
        </h1>
        <p
          class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
        >
          Find Your Next Coding Partner: Connect with Developers Across the Globe
          and Expand Your Network Collaborate with Developers Worldwide
        </p>

        <div class="self-center w-[500px]">
          <form action="{% url 'profiles' %}" method="get" id="searchForm">
            <label
              for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
              >Search</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <i class="bi bi-search"></i>
              </div>
              <input
                type="search"
                id="default-search"
                class="block z-0 w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-gray-700 focus:border-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search developers by name, skills..."
                name="query"
                value="{{search_query}}"
              />
              <button
                type="submit"
                class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
</section>

    <section class="mx-auto grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-2">
        {% for profile in profiles %}
          <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
          >
                 <div class="flex flex-col items-center pb-10 mt-3">
              <img
                class="w-24 h-24 mb-3 rounded-full shadow-lg"
                src="{{profile.profile_image.url}}"
                alt="{{profile.name}}"
              />
              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                {{profile.name}}
              </h5>
              <span class="text-sm text-gray-500 dark:text-gray-400"
                >{{profile.headline}}</span
              >
              <div class="flex mt-4 space-x-3 md:mt-6">
                <a
                  href="{% url 'user-profile' profile.id %}"
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >View profile</a
                >
                <a
                  href="#"
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
                  >Message</a
                >
              </div>
            </div>

          </div>
    {% endfor %}
</section>
{% include 'pagination.html' with queryset=profiles custom_range=custom_range %}

{% endblock content %}
