{% extends 'base.html' %}


{% block content %}

<div class="grid grid-cols-1 md:grid-cols-12 min-h-screen font-display">
{% include 'aside.html' with userProjects=userProjects request=request %}
  <div
    class="max-w-full bg-[#f6f8fa] dark:bg-[#0d1117] text-[#1f2328] lg:col-span-9 xl:col-span-10 md:col-span-8 grid grid-cols-1 xl:grid-cols-3 px-6"
  >
    <div class="xl:col-span-2 mt-8 xl:pr-12">
      <div class="flex flex-col align-middle justify-center text-center mb-10">
        <p
          class="mb-4 text-xl font-extrabold tracking-tight leading-none text-gray-900 dark:text-white uppercase font-mono"
        >
          <i class="bi bi-globe"></i> Browse and connect with developers around
          the world
        </p>
      </div>
      <div
        class="flex gap-3 mb-2 align-middle justify-center flex-wrap font-sans2"
      >
       {% for profile in profiles %}
       <div
          class="w-64 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="flex flex-col items-center py-3">
            <img
              class="w-24 h-24 mb-3 rounded-full shadow-lg"
              src="{{ profile.profile_image.url }}"
              alt="Bonnie image"
            />
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                {{ profile.name }}
            </h5>
            <span class="text-sm text-gray-500 dark:text-gray-400"
              >{{ profiles.headline }}</span
            >
              {% if request.user.profile != profile %}
            <div class="flex mt-4 space-x-3 md:mt-6">

              <a
                href="#"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >Add friend</a
              >
              <a
                href="#"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
                >Message</a
              >
            </div>
              {% else %}
              <div class="flex mt-4 space-x-3 md:mt-6">
                <a
                href="{% url 'edit-profile' %}"
                class="w-full text-[#ffffff] bg-[#238636] hover:bg-[#299b40] focus:outline-none font-medium rounded-lg text-sm px-5 py-1.5 text-center"
                >
                Edit Profile
                </a>
              </div>
              {% endif %}
          </div>
        </div>
       {% endfor %}

      </div>
      {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
    </div>

    <div class="hidden xl:block xl:col-span-1 mt-12 font-mono">
      <h2 class="dark:text-white text-sm font-bold mb-3">Latest News</h2>

    {% include 'news.html' %}
    </div>
  </div>
</div>

{% endblock content %}
