{% extends 'base.html' %}

{% block content %}

<section class="container">
    <a class="btn my-1" href="{% url 'dashboard' %}">Go Back</a>
    <div class="post-form">
        <div class="post-form-header bg-primary">
          <h3><i class="fas fa-star-half-alt"></i> {{text}}</h3>
        </div>
        <form class="form my-1" action="" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <small>{{ field.label }}</small>
                {{ field }}
            {% endfor %}
            <input type="submit" class="btn btn-dark my-1" value="Submit" />
            {% if page == 'update' %}
                <a class="btn btn-danger my-1" href="{% url 'delete-skill' skill.id %}?next=/update-skill/{{skill.id}}">Delete</a>
            {% endif %}
        </form>
    </div>
</section>

{% endblock content %}