{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="landing" style="height: 100Vh;">
    <div class="dark-overlay">
      <div class="landing-inner">
        <h1 class="x-large text-gradient">Developer Connector</h1>
        <p class="lead text-white">
          Create developer profile/portfolio, share projects and get help from
          other developers
        </p>
        <div class="buttons">
          <!-- button Links -->
          <a href="{% url 'register' %}" class="btn btn-accent-gradient">Sign Up</a>
          <a href="{% url 'login' %}" class="btn btn-violet-gradient">Login</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}