.messages {
  background: var(--color-white);

  border: 2px solid var(--color-light);
  border-radius: 0.7rem;
}

.message {
  padding: 0.8rem 3rem;
}

.stared__message {
  display: flex;
  align-items: center;
}

.stared__message .star {
  justify-self: flex-start;
    margin-left: -2rem;
    margin-right: 1rem;
}

.stared__message .message__content {
  flex-basis: 100%;
}

.message.message--seen {
  background: #f5f5f5;

}

.message.message--seen a span{
  color: #ababaf;
}

.message.message--unread a span {
  font-weight: 600;
  color: #202124;
}

.messages .message:hover {
  box-shadow: 0 0 10px #999 !important;
}

.messages .message:last-child:hover {
  box-shadow: 0 0 10px #999;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.message > a span {
  font-size: 1rem;
  font-weight: 500;
}

.message:not(:last-child) {
  border-bottom: 1px solid #DBDBDB;
}

.message > a {
  display: flex;
  gap: 1rem;
}

.message__author,
.message__date {
  flex-basis: 25%;
}

.message__subject {
  flex-basis: 50%;
}

.message__date {
  text-align: right;
}

.messagePage .message {
  list-style: none;
  background: var(--color-white);
  padding: 1.5rem 3.5rem 2rem 3.5rem ;
  border: 2px solid var(--color-light);
  border-radius: 0.7rem;
}

.messagePage .message__subject {
  font-size: 1.5rem;
  color: #1f1f1f;
  font-weight: 700;
}

.messagePage .message__author {
  font-size: 1rem;
  font-weight: 500;
}

.message__date {
  font-size: 0.9rem;
  font-weight: 400;
  color: #5f6368;
}

.backButton {
  background: var(--color-main-light);
  color: var(--color-main);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.backButton i {
  font-size: 1.8rem;
}

.sender__email {
  font-size: 1rem;
  color: #5f6368;
}

@media (max-width: 1000px) {
  .zoom_out {
    transform: scale(0.8);
    zoom: 0.8;
  }
}

@media (max-width: 600px) {
  .zoom_out {
    zoom: 0.6;
  }
}

@media (min-width: 700px) {
  .hide-lg {
    display: none;
  }
}

@media (max-width: 1000px) {
  .hide-md {
    display: none;
  }
}
