{%  extends 'base.html' %}
{%  block content %}
    <section class="container">
      <p class="lead">
        <!-- user icon -->
        <i class="fas fa-diagram-project text-primary"></i>
        Add any projesct that you have worked on or you are working on
      </p>
      <div class="post-form">
        <small>* = required field</small>
        <form class="form my-1" enctype="multipart/form-data" action="{% url 'addpost' %}" method="POST">
          {% csrf_token %}
          <div class="form-group mb-3">
            <textarea
            name="description"
              cols="30"
              class="form-control"
              rows="5"
              placeholder="* Project Description"
              required
            ></textarea>
            <small class="form-text">Get the audiance attention</small>
          </div>
          <div class="form-group mb-3">
            <input type="file"  class="form-control" placeholder="Image URL" name="image" />
            <small class="form-text">Could be your project image</small>
          </div>
          <input type="submit" value="Add" class="btn btn-dark my-1"  class="form-control" />
        </form>
      </div>
    </section>
{% endblock %}
