{% extends 'base.html' %}

{% block content %}
    <h1>Projects Template</h1>
    <p>{{text}}</p>

    <h3>Projects</h3>
    <ul>
        {% for project in projects %}
        
                           <div class="container">

                           
                           <div class="card mb-4">
                            <div class="m-3">
                                <img src="static/images/avatar.jpg" alt="Avatar" class="avatar"> {{projet.user.username}}
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                             
                            </div>
                            <img src="{{ project.image.url }}" class="card-img-top m-2" alt="..." width="300" height="300">
                            <p class="card-text m-2"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                        <a href="{% url 'project' project.id %}" class="stretched-link">{{project.title}}</a>
        {% endfor %}
    </ul>
{% endblock content %}