{% extends 'base.html' %}

{% block content %}

<section class="container">
    <p class="lead">
      <!-- user icon -->
      <i class="fas fa-diagram-project text-primary"></i>
      {{page_title}}
    </p>
    <div class="post-form">
      <small>* = required field</small>
      <form class="form my-1" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
            <small>{{field.label}}</small>
            {{field}}
            </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-dark my-1" />
      </form>
    </div>
  </section>

{% endblock content %}
