{% extends 'base.html' %}

{% block content %}

 <main class="home">
    <section class="main_container hero bg-light">
        <div class="hero-showcase">
          <p class="lead">
            <i class="fa fa-diagram-project"></i>
            Welcome to the developers community
          </p>
        </div>
        <div class="hero-search_form">
          <form action="" class="search_form">
            <input
              type="text"
              placeholder="Project title"
              name="title"
              class="search_form-input"
              required
            />
            <input
              type="submit"
              value="Search"
              class="btn btn-dark"
              style="min-width: 5%"
            />
          </form>
        </div>
    </section>
    <section class="projects-grid main_container">
      {% for project in projects %}
        <div class="wrapper">
          <a href="{% url 'project' project.id %}?next=/projects">
            <div class="pic">
                <img src="{{project.project_image.url}}" alt="project image" />
            </div>
          </a>
          <a href="{% url 'project' project.id %}?next=/projects" class="header">{{project.title|truncatechars:27}}</a>
          <div class="content">
            <a href="{% url 'user-profile' project.owner.id %}?next=/projects" class="project-owner">
              <img
                src="{{project.owner.profile_image.url}}"
                alt="{{project.owner.name}}}"
                class="project-owner-img"
              />
              {{project.owner.name|truncatechars:22}}
            </a>
            <span class="project-feedback"
              >{{project.votes_count}} Vote{{project.votes_count|pluralize:"s"}} <strong>{{project.votes_ratio}}</strong>% positive</span
            >
            <div class="tags">
              {% for tag in project.tags.all %}
              <span class="tag tag--main"><small style="font-size: 12px;">{{tag}}</small></span>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
</main>
{% endblock content %}