{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container">
    <!-- Link back to posts -->
    <a href="{{request.GET.next}}" class="btn">Back</a>
    <!-- origin post -->
    <div class="project bg-white p-1 my-1">
      <div>
        <!-- Link to profile -->
        <a href="{% url 'user-profile' project.owner.id %}?next=/projects/project/{{project.id}}">
          <img
            class="round-img"
            src="{{project.owner.profile_image.url}}"
            alt=""
          />
          <h4>{{project.owner.name}}</h4>
        </a>
        <div class="project-feedback">
          <div class="project-votes">
            <i class="fas fa-check-to-slot"></i>
            <span>{{project.votes_count}}</span>
          </div>
          <div class="project-ratio">
            <i class="fas fa-thumbs-up"></i>
            <span>{{project.votes_ratio}}%</span>
          </div>
        </div>
      </div>
      <div>
        <div class="project-header">
          <h4 class="project-title">{{project.title}}</h4>
          <p class="project-date">Posted <span style="font-style: italic;">{{project.created_at|timesince}} ago</span></p>
        </div>
        <p class="project-description my-1">
            {{project.description}}
        </p>
        <ul class="project-links">
            {% if project.source_code%}
                <li>
                    <a href="{{project.source_code}}" target="_blank" rel="noopener noreferrer">
                        <i class="fas fa-globe"></i> Website
                    </a>
                </li>
            {% endif %}
            {% if project.live_preview%}
                <li>
                    <a href="{{project.live_preview}}" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github"></i> Github
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="project-tags">
          {% for tag in project.tags.all %}  
            <li class="badge badge-gray">{{tag}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Add Review form -->
    {% if request.user.profile.id in project.getReviewers %}
        <div class="post-form-header bg-primary">
            <h3>You have already reviewed the project</h3>
        </div>
    {% elif request.user.profile == project.owner %}
        <div class="post-form-header bg-primary">
            <h3>You can't review your own project</h3>
        </div>
    {% elif request.user.is_authenticated %}
        <div class="post-form">
          <div class="post-form-header bg-primary">
            <h3>Leave A Review</h3>
          </div>
          <form class="form my-1" action="{% url 'project' project.id %}" method="POST">
            <!-- dropdown -->
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <small>{{field.label}}</small>
                    {{field}}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-dark my-1" value="Submit" />
          </form>
        </div>
    {% else %}
        <div class="post-form-header bg-primary">
            <a href="{% url 'login' %}?next={{ request.path }}" style="color: white"><h3>Login to review and comment on this project</h3></a>
        </div>
    {% endif %}

    <!-- Reviews div -->
    <div class="reviews">
      <!-- Single review -->
      {% for review in project.review_set.all %}
        {% if review.body %}
            <div class="review bg-white my-1">
          <!-- enter icon -->
          <i class="fas fa-arrow-turn-right turn-icon"></i>
          <div class="review-body" style="width: 100%;">
            <a href="{% url 'user-profile' review.owner.id %}?next={{ request.path }}" class="review-owner">
              <img
                class="round-img"
                src="{{review.owner.profile_image.url}}"
                alt=""
              />
              <h4>{{ review.owner.name }}</h4>
            </a>
            <div>
              <p class="review-comment">{{ review.body }}</p>
            </div>
          </div>
        </div>
        {% endif %}
      <!-- End of single comment -->
      {% endfor %}
    </div>
  </section>
{% endblock content %}