<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'theme/styles/mekit.css' %}">
    <title>Dev connect</title>
</head>
<body>
    {% include 'navbar.html' %}

    <!-- {% if messages %}
      <ul class="container messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %} -->

    {% if messages %}

      {% for message in messages %}
        <div class="alert alert--{{message.tags}}" style="position: fixed; top: 0; left: 30%; z-index: 3;">
          <p class="alert__message">{{message}}</p>
          <button class="alert__close">⨯</button>
        </div>
      {% endfor %}

    {% endif %}

    {% block content %}

    {% endblock content %}
    
</body>
<script src="{% static 'theme/app.js' %}"></script>
</html>