<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/fonts/css/all.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    {% endblock %}

    <script src="{% static 'styles/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'styles/js/jquery.js' %}"></script>
    <script src="{% static 'styles/fonts/js/all.js' %}"></script>
</body>
</html>