<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'theme/styles/mekit.css' %}">
    <title>Dev connect</title>
</head>
<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="text-decoration: none;color: white;"><h3>
                <!-- Logo Link -->
               
                  <!-- Code Icon -->
                  <i class="fas fa-code"></i>
                  DevConnector
               
              </h3></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav avbar-nav ms-auto">
                   

                    <li class="nav-item" style="margin-right:10px;">
                        <a href="#">
                            <i class="fab fa-connectdevelop"></i>
                            <span class="hide-sm">Developers</span>
                          </a>
                    </li>

                    <li class="nav-item" style="margin-right:10px;">
                        <a href="{% url 'addpost' %}">
                            <i class="fa fa-diagram-project"></i>
                            <span class="hide-sm">Add Post</span>
                          </a>
                    </li>

                    <li class="nav-item" style="margin-right:10px;">
                        <a href="Dashboard.html">
                            <i class="fas fa-user"></i>
                            <span class="hide-sm">Dashboard</span>
                          </a>
                    </li>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{% static 'images/avatar.jpg' %}" alt="Avatar" class="avatar">
                            <b class="ml-2">{{request.user}}</b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item m-2" href="#"><i
                                        class="fa fa-user"></i> Profil </a>
                            </li>
                           
                            <li>
                                <a class="dropdown-item m-2" href="#" class=""><i
                                        class="fa fa-diagram-project"></i> My projects</a>
                            </li>
                            
                            <li>
                                <a class="dropdown-item m-2" href="#" class=""><i
                                        class="fas fa-graduation-cap"></i> My educations</a>
                            </li>
                            <li><a class="dropdown-item m-2" href="{% url 'logout' %}"><i
                                        class="fa-solid fa-arrow-right-from-bracket"></i> logout</a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    
        {% block content %}
        {% endblock %}
   
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    {% endblock content %}
    
</body>
</html>