{% load static %}

<nav class="navbar bg-dark">
    <h1>
      {% if user.is_authenticated %}
        <a href="{% url 'profiles' %}">
        <i class="fas fa-code"></i>
        DevConnector
         </a>
      {% else %}
        <a href="{% url 'welcome' %}">
        <i class="fas fa-code"></i>
        DevConnector
        </a>
      {% endif %}
    </h1>
    <!-- Nav links -->
    <ul>
    <li>
        <a href="{% url 'profiles' %}">
          <i class="fab fa-connectdevelop"></i>
          <span class="hide-sm">Developers</span>
        </a>
      </li>
      <li>
        <a href="{% url 'projects' %}">
          <i class="fa fa-diagram-project"></i>
          <span class="hide-sm">Projects</span>
        </a>
      </li>
      <!-- Visible when user is authenticated -->
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'dashboard' %}">
          <i class="fas fa-user"></i>
          <span class="hide-sm">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt"></i>
          <span class="hide-sm">Logout</span>
        </a>
      </li>
      <!-- Visible when user not authenticated -->
      {% else %}
      <li>
        <a href="{% url 'register' %}">
          <i class="fas fa-user-alt"></i>
          <span class="hide-sm">Register</span>
        </a>
      </li>
      <li>
        <a href="{% url 'login' %}">
          <i class="fas fa-sign-in-alt"></i>
          <span class="hide-sm">Login</span>
        </a>
      </li>
      {% endif %}
    </ul>
</nav>