{% extends "base.html" %} {% block content %}
<div
  class="w-full bg-white dark:bg-[#0d1117] shadow-xl rounded-lg flex overflow-x-auto custom-scrollbar min-h-screen font-display"
>
  {% include 'inboxnav.html' %}

  <div class="flex-1 px-2 mt-4">
    <div class="flex items-center">
      <a
        href="#"
        class="flex items-center text-gray-700 dark:text-gray-100 px-2 py-1 space-x-0.5 border border-gray-300 dark:border-gray-600 rounded-lg shadow hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-600 transition duration-100"
        title="Back"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="text-sm font-bold">Back</span>
      </a>
    </div>
    <form class="mb-6 pt-4 rounded-lg">
      <div>
        <textarea
          id="body"
          class="w-full h-64 bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 py-1"
          name="body"
          placeholder="Reply..."
        ></textarea>
      </div>
      <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-2">
          <button
            class="bg-blue-500 hover:bg-blue-700 rounded-lg px-12 py-1.5 text-gray-100 hover:shadow-xl transition duration-150"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
